@charset "UTF-8";

@media all {
	#spinOverlay {
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.5) url(/typo3/sysext/t3skin/images/spinner/big-f0f0f0.gif) center center no-repeat;
		z-index: 99;
	}
	
	#spinOverlayMessage {
		margin: auto;
		position: absolute;
		height: 10px;
		width: 200px;
		text-align: center;
		color: #fff;
	}
}